/*Reset settings*/
*{ 
  margin: 0px;
  padding: 0px;
 }

 /*Overall page styles*/
 body {
   font-family: 'IBM Plex Sans', sans-serif;
   font-weight: 400;
   font-size: 13pt;
   line-height: 1.75em;
   scrollbar-width: none;
 }

 ::-webkit-scrollbar {
   display: none;
 }